@import "../../../../styles//variables"

.item-content {
  padding: 20px;
  border-radius: 10px;
  height: 370px;
}

.title {
  color: $richblack;
  font-size: 20px;
  font-weight: 700;
}

.price {
  bottom: -10px;
  background: linear-gradient(90deg, rgb(129 182 255) 0%, rgb(25, 120, 166) 49%, rgb(34, 78, 118) 100%);
  color: #fff;
  font-size: 26px;
  border-radius: 20px;
  padding: 2px 10px;
  font-weight: 700;
}
